@using Statusphere.NET.Database

<div class="status-timeline">
    @foreach (var status in Statuses.OrderByDescending(x => x.CreatedAt))
    {
        <div class="status-line">
            <div>
                <div class="status">@status.Value</div>
            </div>
            <div class="desc">
                <a class="author" href="https://bsky.app/profile/@status.AuthorDid" target="_blank">
                    @DidToHandleMap.GetValueOrDefault(status.AuthorDid, "Someone")
                </a>
                @if (status.CreatedAt.Date == DateTime.Today)
                {
                    <text> is feeling @status.Value today</text>
                }
                else
                {
                    <text> was feeling @status.Value on @status.CreatedAt</text>
                }
            </div>
        </div>
    }
</div>

@code {
    [Inject] 
    private DidClient DidClient { get; set; } = null!;

    [Inject]
    private ILogger<StatusTimeline> Logger { get; set; } = null!;

    [Parameter, EditorRequired]
    public required List<Status> Statuses { get; set; }

    private Dictionary<string, string> DidToHandleMap { get; set; } = [];

    public async Task AddStatus(Status status)
    {
        Logger.LogInformation("adding status!");
        await ValidateDid(status.AuthorDid);
        Statuses.Add(status);
        StateHasChanged();
    }

    protected override async Task OnParametersSetAsync()
    {
        Logger.LogInformation("Parameters set");

        foreach (var did in Statuses.Select(x => x.AuthorDid).Distinct())
        {
            await ValidateDid(did);
        }
    }

    private async Task ValidateDid(string did)
    {
        if (DidToHandleMap.ContainsKey(did))
            return;

        var didDocument = await DidClient.GetDidDocument(did);
        DidToHandleMap.Add(did, didDocument.AlsoKnownAs[0].Replace("at://", "@"));
    }
}